body {
    background-color:#777;
    width: 960px;
    margin:auto;
    content: #ebebeb;
    overflow: visible;
    font-family: Arial, Helvetica, sans-serif;
  }

header, nav, footer {
  display: block;
  padding: 10px;
  text-align: center;
  background: #ebebeb;
  color: #777;
  font-size: 18px;
  
  }

section{
  float: left;
  width: 495px;
  height: 267px;
  display: block;
  padding: 10px;
  text-align: center;
  background: #ebebeb;
  color: #777;
  font-size: 18px;
  
  
}
aside{
  float: right; 
    width: 40%;
  height: 267px;
  padding: 10px;
  text-align: center;
  background: #ebebeb;
  color: #777;
  font-size: 18px;
   
}
.clear{
  content: "";
  clear: both;
  display: block;
}

article {
  padding: 10px;
  color: #ebebeb;
  background: #777;
}

h1,
p {
  width: 90%;
  padding: 10px;
  margin: 10px;
  color: #777;
  text-align: center;
  background: #ebebeb;
}
